[Unit]
After=network.target
Description=Cozmars Sanic server

[Service]
User=root
WorkingDirectory=/home/pi/rcute/rcute-cozmars-server
ExecStart=/home/pi/rcute/venv/bin/python -m rcute_cozmars_server 
Restart=always
StartLimitInterval=10

[Install]
WantedBy=multi-user.target
